$green: #61a60e;
$orange: #ec7700;
$orange-dark: #e45d13;
$grey-0: #54565a;
$grey-1: #aeaeae;
$grey-2: #47566e;
$grey-3: #d9d9d9;
$gradient-1: linear-gradient(180deg, #f3f3f3 0%, white 0%, #f8f8f8 100%);
